<h1 class="display-4 mb-4 ">Sobre mí</h1>
<h2 class="font-yellowtail h2-about">Pablo Moras</h2>
<div class="line-bottom-grey"></div>
<h4 class="mb-5 mt-2 font-monospace">Desarrollador Web</h4>

<p class="about text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore doloribus eveniet autem aperiam facere nisi ullam ex sed reprehenderit earum, architecto quasi culpa reiciendis itaque quaerat sint ut asperiores consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, reiciendis illum quasi et dignissimos quibusdam laboriosam quas quam aliquid blanditiis hic pariatur dolore quis doloribus, possimus facere ullam asperiores eius!</p>