/* Importar fuentes custom*/
@font-face{
	font-family: "yanone";
	src: url("fonts/yanone.ttf");
}

@font-face{
	font-family: "finger";
	src: url("fonts/finger.ttf");
}

@font-face{
	font-family: "yellowtail";
	src: url("fonts/yellowtail.ttf");
}

/*Generales*/

*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: "yanone", Arial, Helvetica;
	font-size: 20px;
	background: url("../img/pattern.png");
	background-attachment: fixed;
}

.clearfix{
	float:none;
	clear:both;
}

/*Contenedor principal*/

#content{
	min-height: 600px;
	height: auto;
	width: 75%;
	margin: 0px auto;
	box-shadow: 0px 0px 40px black;
	border-left:1px solid #b7b7b7;
	border-right:1px solid #b7b7b7;
	background: rgba(255, 255, 255, 0.7);
	padding-top: 120px;
}

/*Pie de pagina*/
footer{
	width: 75%;
	margin: 0px auto;
	padding-top: 15px;
	color: rgba(0, 0, 0, 0.5);
}


/*Sobre mi*/
#title{
	width: 70%;
	margin: 0px auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 70px;
}


/*Sección con formulario*/
.container .image{
	float: left;
	width: 47%;
}

.container .image img{
	width: 100%;
}

.container .data{
	float: left;
	width: 48%;
	margin-left:30px;
}

/* form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
	width: 40%;
	padding: 5px;
}
 */

/* .button-edit,
.button-delete{
	width: 20%;
	float: left;
	margin-right: 10px;
	text-decoration: none;
} */

/* .button-edit{
	background: orange;
	border: none;
}

.button-delete{
	background: red;
	border: none;
} */

/* form button:hover,
form input[type="submit"]:hover{
	background: rgba(53, 103, 164, 0.8);
	border: 1px solid rgba(13, 67, 133, 1);
} */

form input[disabled]{
	opacity: 0.4;
	cursor: not-allowed;
}

.form_error{
	font-size: 14px;
	padding: 3px;
	background: red;
	color:white;
	margin-left: 5px;
}

.message{
	width: 50%;
	padding: 5px;
	border: 1px solid #eee;
}

.success{
	background: green;
	color: white;
}

.message a{
	color: white;
}

.failed{
	background: red;
	color: white;
}

/*Pagina de proyectos*/

.project{
	/* list-style: none;
	display: block;
	float: left;
	width: 28%;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px; */
}

.project .image{
	width: 100%;
	height: 120px;
	overflow: hidden; /* SI LO QUITAS BRO, VES LA MAGIA DEL BLUR. Pero el overflow hidden hace que no se coman */
}
.image-projectSelected{
	width: 100%;
}
/* Blur effect double img css */
.project .relative{
	position: relative;
}
.project .absolute{
	position: absolute;
}
.project .top-4{ 
	top: 1rem;
}
.project .left-0{ 
	left: 0;
}
.project .blur-lg{ 
	filter: blur(16px) saturate(1.5);
}
.project .saturate-150{ 
}
.project .rounded-xl{
    border-radius: .75rem;
}
.project .blur-0{
	filter: blur(0);
}
.project .transform{
	transform: scaleX(1) scaleY(1);
}

/* -- End blur eff css */

.project img{
	width: 100%;
}

.project a{
	text-decoration: none;
	color: black;
}

/* Fixes varios  ------ */

/* Navbar */
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #842029;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.75);
}

/* Custom button */
.btn-outline-custom {
    color: #842029;
    border-color: #842029;
}
.btn-outline-custom.focus, .btn-outline-custom:focus {
    box-shadow: 0 0 0 0.2rem #842029a6;
}
.btn-outline-custom:hover {
    color: #fff;
    background-color: #842029;
    border-color: #842029;
}
.btn-outline-custom:not(:disabled):not(.disabled).active, .btn-outline-custom:not(:disabled):not(.disabled):active, .show>.btn-outline-custom.dropdown-toggle {
    color: #fff;
    background-color: #842029;
    border-color: #842029;
}
.font-wg-700{
	font-weight: 700;
}

/* Box general container*/
.background-box{
	min-height: 600px;
	height: auto;
	margin: 0px auto;
	box-shadow: 0px 0px 15px black;
	border-left:1px solid #b7b7b7;
	border-right:1px solid #b7b7b7;
	background: rgba(255, 255, 255, 0.7);
	padding-top: 120px;
}

.line-bottom-grey{
	border-bottom: 1px solid #ccc;
}
.font-yellowtail{
	font-family: "yellowtail";
}
.font-finger{
	font-family: "finger";
}
.h2-about{
	font-size: 35px;
}

@media only screen and (min-width: 720px){
	.background-box{
		width: 75%;
		box-shadow: 0px 0px 30px black;
	}
	.h2-about{
		font-size: 44px;
	}	
}

@media only screen and (min-width: 1000px){
	.image-projectSelected.relative img {
		height: 350px;
	}
}
