<h1 class="display-4 mb-4 ">Proyectos</h1>
<h3 class="mb-5">Estos son nuestros proyectos, adaptables y personalizados.</h3>

<div class="container">
    <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">Lista de Proyectos</h2>
    </div>
    <div class="col-md-12">
        <div class="row align-items-center justify-content-center">
            <div *ngFor="let proj of projects; let i = index" [ngClass]="['col-lg-4', 'col-md-6','mt-3', 'project']">
                <a [routerLink]="['/proyecto', proj._id]">
                    <div class="image relative">
                        <img src="{{url+'get-image/'+proj.image}}" *ngIf="proj.image" class="absolute top-4 left-0 filter blur-lg saturate-150" />
                        <img src="{{url+'get-image/'+proj.image}}" *ngIf="proj.image" class="rounded-xl blur-0 transform" />
                    </div>
                    <h3>{{ proj.name }}</h3>
                    <p class="text-muted">{{ proj.category }}</p>
                </a>
            </div>
        </div>
    </div>

</div>


<a href="#" class="mt-4 btn btn-lg btn-outline-custom mx-1 font-wg-700">Ver todos</a>