<div *ngIf="projectModel">
    <h1 class="display-4 mb-4 ">{{ title }}</h1>
    <h3 class="mb-5">Página de edición del proyecto</h3>

    <!-- Form -->
    <div class="row mt-5 text-start">
        <div class="col-lg-12 col-12">
            <div class="col-lg-6 offset-lg-3">

                <span class="message success" *ngIf="status == 'success'">El proyecto se ha actualizado correctamente</span>
                <span class="message failed" *ngIf="status == 'failed'">El proyecto no se pudo actualizar.</span>
                <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
                    <div class="mb-3">
                        <label for="nameFor" class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="projectModel.name" required>
                        <span class="form_error" *ngIf="name.touched && !name.valid">
                            El nombre es obligatorio
                        </span>
                    </div>
                    <div class="mb-3">
                        <label for="descriptionFor" class="form-label">Descripción</label>
                        <textarea class="form-control" #description="ngModel" [(ngModel)]="projectModel.description" name="description" required></textarea>
                        <span class="form_error" *ngIf="description.touched && !description.valid">
                        La descripción es obligatoria
                        </span>
                    </div>
                    <div class="mb-3">
                        <label for="categoryFor" class="form-label">Categoría</label>
                        <input type="text" class="form-control" name="category" #category="ngModel" [(ngModel)]="projectModel.category" required>
                        <span class="form_error" *ngIf="category.touched && !category.valid">
                            La categoría es obligatoria
                        </span>
                    </div>
                    <div class="mb-3">
                        <label for="YearFor" class="form-label">Año</label>
                        <input type="number" class="form-control" name="year" #year="ngModel" [(ngModel)]="projectModel.year" required>
                        <span class="form_error" *ngIf="year.touched && !year.valid">
                            El año es obligatorio
                        </span>
                    </div>
                    <div class="mb-3">
                        <label for="langsFor" class="form-label">Lenguajes</label>
                        <input type="text" class="form-control" name="langs" #langs="ngModel" [(ngModel)]="projectModel.langs" required>
                        <span class="form_error" *ngIf="langs.touched && !langs.valid">
                            Al menos un lenguaje es obligatorio
                        </span>
                    </div>
                    <div class="mb-3">                        
                        <div *ngIf="projectModel.image">
                            <label for="imageFor" class="form-label">Imagen anterior</label><br>
                            <img src="{{url+'get-image/'+projectModel.image}}" width="100" height="80"/>
                        </div>
                        <label for="imageFor" class="form-label">Nueva imagen del proyecto</label>
                        <input type="file" class="form-control" name="image" required (change)="fileChangeEvent($event)">
  
                    </div>
                    <div class="text-center text-md-start">
                        <button type="submit" class="btn btn-primary mb-5" [disabled]="!projectForm.form.valid">Submit</button>
                    </div>
                    
                </form>
            </div>            
        </div>
    </div>
</div>
